<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form" %>
    <html>

    <head>
        <title>Book Search</title>
        <link rel="stylesheet" href="/css/main.css" />
    </head>

    <body>
        <div>
            <form:form method="POST" action="/book-search" modelAttribute="book">
                <form:label for="title">Title (*contains)</form:label>
                <form:input type="text" id="title" name="title" placeholder="Book title.." />

                <input type="submit" value="Search by book title" />
            </form:form>
        </div>
    </body>

    </html>